@use 'global-styles/breakpoints' as *;

.index {

  > .wrapper {
    max-width: 1400px;
    margin-inline: auto;
    .flow {
      --flow-space: var(--space-4xl);
    }
  }

  header.flow {
    --flow-space: var(--space-m);
  }

  .hero-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  .header-content {
    display: grid;
    gap: var(--space-m);
  }

  //rename
  .contrast-box {
    padding-inline: var(--space-m-l);
    padding-block: var(--space-xl-2xl);
  }

  .tour {
    display: grid;
    gap: var(--space-2xs);
    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }



  @include for-tablet-portrait-up {

    header {
      padding-block: 122px;
      background: url('../images/tablet/image-hero.jpg') no-repeat;
      @media (-webkit-min-device-pixel-ratio: 2) {
        background: url('../images/tablet/image-hero@2x.jpg') no-repeat;
      }
    }

    .hero {
      display: none;
    }

    .header-content {
      justify-content: end;
    }

    .tour {
      grid-template-columns: repeat(12, 1fr);
      .white-box {
        grid-column: 1 / 5;
        grid-row: 1;
        align-self: center;
      }
      picture:first-of-type {
        grid-column: 6 / 13;
        grid-row: 1;
        justify-self: end;
      }
      picture:nth-of-type(2) {
        grid-column: 1 / 8;
        grid-row: 2 / 4;

      }
      picture:nth-of-type(3) {
        grid-column: 8 / 13;
        grid-row: 2;
      }
      .contrast-box {
        grid-column: 8 / 13;
        grid-row: 3;
      }
    }


  }

  @include for-tablet-landscape-up {

    header {
      position: relative;
      padding-block: 130px 330px;
      background: url('../images/desktop/image-hero.jpg') no-repeat;

        @media (-webkit-min-device-pixel-ratio: 2) {
          background: url('../images/desktop/image-hero@2x.jpg') no-repeat;
        }
      background-position: center center;

      &:before {
        content: '';
        position: absolute;
        inset: 0;
        width: 50vw;
        background-color: var(--color-primary);
        z-index: -1;
      }
      }

    .header-content {
      grid-template-columns: 1fr 24ch;
      justify-content: space-between;
      h1 {
        color: var(--color-white);
        mix-blend-mode: difference;
        filter: brightness(1.5);
      }
      > :not(:first-child) {
        grid-column: 2;
      }
    }
  }
}