@use 'global-styles/mixins' as *;
// --------------------------------

// Border

// --------------------------------

[class^="border-"],
[class*=" border-"] {
  --border-o: 1;
}

.border {
  border: var(--border-width, 1px) var(--border-style, solid) alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-top {
  border-top: var(--border-width, 1px) var(--border-style, solid) alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-bottom {
  border-bottom: var(--border-width, 1px) var(--border-style, solid) alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-left {
  border-left: var(--border-width, 1px) var(--border-style, solid) alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-right {
  border-right: var(--border-width, 1px) var(--border-style, solid) alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-2 {
  --border-width: 2px;
}

.border-3 {
  --border-width: 3px;
}

.border-4 {
  --border-width: 4px;
}

.border-dotted {
  --border-style: dotted;
}

.border-dashed {
  --border-style: dashed;
}

// border color
.border-blue-darker {
  border-color: alpha(var(--color-blue-darker), var(--bg-o, 1));
}

.border-blue-dark {
  border-color: alpha(var(--color-blue-dark), var(--bg-o, 1));
}

.border-blue {
  border-color: alpha(var(--color-blue), var(--bg-o, 1));
}

.border-blue-light {
  border-color: alpha(var(--color-blue-light), var(--bg-o, 1));
}

.border-blue-lighter {
  border-color: alpha(var(--color-blue-lighter), var(--bg-o, 1));
}

.border-bg-darker {
  border-color: alpha(var(--color-bg-darker), var(--border-o, 1));
}

.border-bg-dark {
  border-color: alpha(var(--color-bg-dark), var(--border-o, 1));
}

.border-bg {
  border-color: alpha(var(--color-bg), var(--border-o, 1));
}

.border-bg-light {
  border-color: alpha(var(--color-bg-light), var(--border-o, 1));
}

.border-bg-lighter {
  border-color: alpha(var(--color-bg-lighter), var(--border-o, 1));
}

.border-contrast-lower {
  border-color: alpha(var(--color-contrast-lower), var(--border-o, 1));
}

.border-contrast-low {
  border-color: alpha(var(--color-contrast-low), var(--border-o, 1));
}

.border-contrast-medium {
  border-color: alpha(var(--color-contrast-medium), var(--border-o, 1));
}

.border-contrast-high {
  border-color: alpha(var(--color-contrast-high), var(--border-o, 1));
}

.border-contrast-higher {
  border-color: alpha(var(--color-contrast-higher), var(--border-o, 1));
}

.border-primary-darker {
  border-color: alpha(var(--color-primary-darker), var(--border-o, 1));
}

.border-primary-dark {
  border-color: alpha(var(--color-primary-dark), var(--border-o, 1));
}

.border-primary {
  border-color: alpha(var(--color-primary), var(--border-o, 1));
}

.border-primary-light {
  border-color: alpha(var(--color-primary-light), var(--border-o, 1));
}

.border-primary-lighter {
  border-color: alpha(var(--color-primary-lighter), var(--border-o, 1));
}

.border-accent-darker {
  border-color: alpha(var(--color-accent-darker), var(--border-o, 1));
}

.border-accent-dark {
  border-color: alpha(var(--color-accent-dark), var(--border-o, 1));
}

.border-accent {
  border-color: alpha(var(--color-accent), var(--border-o, 1));
}

.border-accent-light {
  border-color: alpha(var(--color-accent-light), var(--border-o, 1));
}

.border-accent-lighter {
  border-color: alpha(var(--color-accent-lighter), var(--border-o, 1));
}

.border-success-darker {
  border-color: alpha(var(--color-success-darker), var(--border-o, 1));
}

.border-success-dark {
  border-color: alpha(var(--color-success-dark), var(--border-o, 1));
}

.border-success {
  border-color: alpha(var(--color-success), var(--border-o, 1));
}

.border-success-light {
  border-color: alpha(var(--color-success-light), var(--border-o, 1));
}

.border-success-lighter {
  border-color: alpha(var(--color-success-lighter), var(--border-o, 1));
}

.border-warning-darker {
  border-color: alpha(var(--color-warning-darker), var(--border-o, 1));
}

.border-warning-dark {
  border-color: alpha(var(--color-warning-dark), var(--border-o, 1));
}

.border-warning {
  border-color: alpha(var(--color-warning), var(--border-o, 1));
}

.border-warning-light {
  border-color: alpha(var(--color-warning-light), var(--border-o, 1));
}

.border-warning-lighter {
  border-color: alpha(var(--color-warning-lighter), var(--border-o, 1));
}

.border-error-darker {
  border-color: alpha(var(--color-error-darker), var(--border-o, 1));
}

.border-error-dark {
  border-color: alpha(var(--color-error-dark), var(--border-o, 1));
}

.border-error {
  border-color: alpha(var(--color-error), var(--border-o, 1));
}

.border-error-light {
  border-color: alpha(var(--color-error-light), var(--border-o, 1));
}

.border-error-lighter {
  border-color: alpha(var(--color-error-lighter), var(--border-o, 1));
}

.border-white {
  border-color: alpha(var(--color-white), var(--border-o, 1));
}

.border-black {
  border-color: alpha(var(--color-black), var(--border-o, 1));
}

.border-opacity-0 {
  --border-o: 0;
}

.border-opacity-5\% {
  --border-o: 0.05;
}

.border-opacity-10\% {
  --border-o: 0.1;
}

.border-opacity-15\% {
  --border-o: 0.15;
}

.border-opacity-20\% {
  --border-o: 0.2;
}

.border-opacity-25\% {
  --border-o: 0.25;
}

.border-opacity-30\% {
  --border-o: 0.3;
}

.border-opacity-40\% {
  --border-o: 0.4;
}

.border-opacity-50\% {
  --border-o: 0.5;
}

.border-opacity-60\% {
  --border-o: 0.6;
}

.border-opacity-70\% {
  --border-o: 0.7;
}

.border-opacity-75\% {
  --border-o: 0.75;
}

.border-opacity-80\% {
  --border-o: 0.8;
}

.border-opacity-85\% {
  --border-o: 0.85;
}

.border-opacity-90\% {
  --border-o: 0.9;
}

.border-opacity-95\% {
  --border-o: 0.95;
}

// --------------------------------

// Border Radius

// --------------------------------

.radius-sm {
  border-radius: var(--radius-sm);
}

.radius-md {
  border-radius: var(--radius-md);
}

.radius-lg {
  border-radius: var(--radius-lg);
}

.radius-50\% {
  border-radius: 50%;
}

.radius-full {
  border-radius: 50em;
}

.radius-0 {
  border-radius: 0;
}

.radius-inherit {
  border-radius: inherit;
}

.radius-top-left-0 {
  border-top-left-radius: 0;
}

.radius-top-right-0 {
  border-top-right-radius: 0;
}

.radius-bottom-right-0 {
  border-bottom-right-radius: 0;
}

.radius-bottom-left-0 {
  border-bottom-left-radius: 0;
}
