// --------------------------------

// Margin

// --------------------------------

.margin-xxxxs {
  margin: var(--space-4xs);
}

.margin-xxxs {
  margin: var(--space-3xs);
}

.margin-xxs {
  margin: var(--space-2xs);
}

.margin-xs {
  margin: var(--space-xs);
}

.margin-sm {
  margin: var(--space-sm);
}

.margin-md {
  margin: var(--space-md);
}

.margin-lg {
  margin: var(--space-lg);
}

.margin-xl {
  margin: var(--space-xl);
}

.margin-xxl {
  margin: var(--space-2xl);
}

.margin-xxxl {
  margin: var(--space-3xl);
}

.margin-xxxxl {
  margin: var(--space-4xl);
}

.margin-auto {
  margin: auto;
}

.margin-0 {
  margin: 0;
}

.margin-top-xxxxs {
  margin-top: var(--space-4xs);
}

.margin-top-xxxs {
  margin-top: var(--space-3xs);
}

.margin-top-xxs {
  margin-top: var(--space-2xs);
}

.margin-top-xs {
  margin-top: var(--space-xs);
}

.margin-top-sm {
  margin-top: var(--space-sm);
}

.margin-top-md {
  margin-top: var(--space-md);
}

.margin-top-lg {
  margin-top: var(--space-lg);
}

.margin-top-xl {
  margin-top: var(--space-xl);
}

.margin-top-xxl {
  margin-top: var(--space-2xl);
}

.margin-top-xxxl {
  margin-top: var(--space-3xl);
}

.margin-top-xxxxl {
  margin-top: var(--space-4xl);
}

.margin-top-auto {
  margin-top: auto;
}

.margin-top-0 {
  margin-top: 0;
}

.margin-bottom-xxxxs {
  margin-bottom: var(--space-4xs);
}

.margin-bottom-xxxs {
  margin-bottom: var(--space-3xs);
}

.margin-bottom-xxs {
  margin-bottom: var(--space-2xs);
}

.margin-bottom-xs {
  margin-bottom: var(--space-xs);
}

.margin-bottom-sm {
  margin-bottom: var(--space-sm);
}

.margin-bottom-md {
  margin-bottom: var(--space-md);
}

.margin-bottom-lg {
  margin-bottom: var(--space-lg);
}

.margin-bottom-xl {
  margin-bottom: var(--space-xl);
}

.margin-bottom-xxl {
  margin-bottom: var(--space-2xl);
}

.margin-bottom-xxxl {
  margin-bottom: var(--space-3xl);
}

.margin-bottom-xxxxl {
  margin-bottom: var(--space-4xl);
}

.margin-bottom-auto {
  margin-bottom: auto;
}

.margin-bottom-0 {
  margin-bottom: 0;
}

.margin-right-xxxxs {
  margin-right: var(--space-4xs);
}

.margin-right-xxxs {
  margin-right: var(--space-3xs);
}

.margin-right-xxs {
  margin-right: var(--space-2xs);
}

.margin-right-xs {
  margin-right: var(--space-xs);
}

.margin-right-sm {
  margin-right: var(--space-sm);
}

.margin-right-md {
  margin-right: var(--space-md);
}

.margin-right-lg {
  margin-right: var(--space-lg);
}

.margin-right-xl {
  margin-right: var(--space-xl);
}

.margin-right-xxl {
  margin-right: var(--space-2xl);
}

.margin-right-xxxl {
  margin-right: var(--space-3xl);
}

.margin-right-xxxxl {
  margin-right: var(--space-4xl);
}

.margin-right-auto {
  margin-right: auto;
}

.margin-right-0 {
  margin-right: 0;
}

.margin-left-xxxxs {
  margin-left: var(--space-4xs);
}

.margin-left-xxxs {
  margin-left: var(--space-3xs);
}

.margin-left-xxs {
  margin-left: var(--space-2xs);
}

.margin-left-xs {
  margin-left: var(--space-xs);
}

.margin-left-sm {
  margin-left: var(--space-sm);
}

.margin-left-md {
  margin-left: var(--space-md);
}

.margin-left-lg {
  margin-left: var(--space-lg);
}

.margin-left-xl {
  margin-left: var(--space-xl);
}

.margin-left-xxl {
  margin-left: var(--space-2xl);
}

.margin-left-xxxl {
  margin-left: var(--space-3xl);
}

.margin-left-xxxxl {
  margin-left: var(--space-4xl);
}

.margin-left-auto {
  margin-left: auto;
}

.margin-left-0 {
  margin-left: 0;
}

.margin-x-xxxxs {
  margin-left: var(--space-4xs);
  margin-right: var(--space-4xs);
}

.margin-x-xxxs {
  margin-left: var(--space-3xs);
  margin-right: var(--space-3xs);
}

.margin-x-xxs {
  margin-left: var(--space-2xs);
  margin-right: var(--space-2xs);
}

.margin-x-xs {
  margin-left: var(--space-xs);
  margin-right: var(--space-xs);
}

.margin-x-sm {
  margin-left: var(--space-sm);
  margin-right: var(--space-sm);
}

.margin-x-md {
  margin-left: var(--space-md);
  margin-right: var(--space-md);
}

.margin-x-lg {
  margin-left: var(--space-lg);
  margin-right: var(--space-lg);
}

.margin-x-xl {
  margin-left: var(--space-xl);
  margin-right: var(--space-xl);
}

.margin-x-xxl {
  margin-left: var(--space-2xl);
  margin-right: var(--space-2xl);
}

.margin-x-xxxl {
  margin-left: var(--space-3xl);
  margin-right: var(--space-3xl);
}

.margin-x-xxxxl {
  margin-left: var(--space-4xl);
  margin-right: var(--space-4xl);
}

.margin-x-auto {
  margin-left: auto;
  margin-right: auto;
}

.margin-x-0 {
  margin-left: 0;
  margin-right: 0;
}

.margin-y-xxxxs {
  margin-top: var(--space-4xs);
  margin-bottom: var(--space-4xs);
}

.margin-y-xxxs {
  margin-top: var(--space-3xs);
  margin-bottom: var(--space-3xs);
}

.margin-y-xxs {
  margin-top: var(--space-2xs);
  margin-bottom: var(--space-2xs);
}

.margin-y-xs {
  margin-top: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.margin-y-sm {
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.margin-y-md {
  margin-top: var(--space-md);
  margin-bottom: var(--space-md);
}

.margin-y-lg {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.margin-y-xl {
  margin-top: var(--space-xl);
  margin-bottom: var(--space-xl);
}

.margin-y-xxl {
  margin-top: var(--space-2xl);
  margin-bottom: var(--space-2xl);
}

.margin-y-xxxl {
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-3xl);
}

.margin-y-xxxxl {
  margin-top: var(--space-4xl);
  margin-bottom: var(--space-4xl);
}

.margin-y-auto {
  margin-top: auto;
  margin-bottom: auto;
}

.margin-y-0 {
  margin-top: 0;
  margin-bottom: 0;
}