:root {
  // radius
  --radius: 0.5rem; // border radius base size

  --radius-sm: calc(var(--radius)/2);
  --radius-md: var(--radius);
  --radius-lg: calc(var(--radius)*2);

  //border width
  --border-1: 1px;
  --border-2: 2px;
  --border-4: 4px;
}