:root {
  --measure: 40ch;
}

* {
  max-inline-size: var(--measure);
}

html,
body,
div,
header,
nav,
main,
footer,
h1,
ul {
  max-inline-size: none;
}

.max-inline-size\:measure {
  max-inline-size: var(--measure);
}